body {
    background-color: #DEE6E9;
}

nav {
    padding-top: 1em;
    text-align: center;
    border-style: inset;
    border-color: red;
    display: flex;
    color: skyblue;
}


li {
    display: flex;
    float: left;
}

a {
    padding: 0.5em;
}

.logo {
    width: 3em;

}

main {
    padding-top: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}

h2 {
    text-align: center;
}

.banner {
    width: 20em;
    align-items: center;
}

p {
    text-align: center;
}

.geschiedenis1 {
    text-align: center;
    padding-top: 2em;
}

.geschiedenis {
    padding-top: 1em;
    padding-bottom: 1em;
}


/* pagina duurzaam*/
.duurzaam {
    width: 20em;
}

h3 {
    padding-top: 0.2em;
    text-align: center;
}

h4 {
    text-align: center;
}

.terug{
    width: 2em;
}

/*duurzaam sub*/


.buildertext{
    display: block;
    justify-content: right;
}
.builder{
    width: 6em;
}


/*katten*/
.katten{
    width: 20em;
}
